.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.nav-title{
    color: black;
    font-family: 'lobster', cursive;
    font-size: 28px;
    margin-left: 25px;
}

.social-icons{
    display: flex;
    gap: 15px;
    margin-right: 50px;
    align-items: center;
}
.navbar-links{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-links li{
    list-style: none;
    font-size: 18px;
    margin-right: 5px;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}